#quote-page-container {
    margin-left: 1%;
    margin-right: 1%;
}

#content-container {
    align-items: center;
    margin-top: 2%;
}

#content-container > img {
    margin: auto;
    width: 35%;
    
}

#quote-container {
   text-align: center;
   width: 35%;
   margin: auto;
   margin-top: 2%;
}

#get-quote-btn {
    color: white;
    font-size: 18px;
    background-color: #9f92c8;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    margin: auto;
}