#quote-page-container {
    margin-left: 1%;
    margin-right: 1%;
}

#quote-container {
    background-color: #9f92c8;
    position: relative;
    width: 20%;
    padding: 10px 29px 25px 21px;
    border-radius: 7px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#quote-mini-container {
    background-color: white;
    padding: 10px 5px;
    width: 100%;
    margin-top: 3%;
    height: 50%;
}

#get-quote-btn {
    color: white;
    font-size: 18px;
    background-color: #9f92c8;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;
    margin-top: 25px;
}

