#help-page-container {
    margin-left: 1%;
    margin-right: 1%;
}

#growing-photo {
    width: 36%;
    position: absolute;
    right: 115px;
}

#tips-title {
    text-align: center;
    text-decoration: underline;
    padding-top: 25px;
}

#health-tips {
    border-radius: 7px;
    width: 40%;
    padding-bottom: 3.4%;
    background-color: #9f92c8;
    color: white;
}

#health-tips > h5 {
    margin-bottom: 8%;
    text-align: center;
}

#health-tips > h4 {
    padding: 12px 25px;
}

#health-tips > p {
    padding: 5px 25px;
}

#seek-help-container {
    position: absolute;
    right: 80px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #7a68af;
    border-radius: 15px;
    margin-top: 25%;
    margin-bottom: 10%;
    width: 40%;
    padding: 6px 16px 2px 16px;
}