#information-page-container {
    margin-left: 1%;
    margin-right: 1%;
}

#information-page-container > h1 {
    text-align: center;
}

#box-container {
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    background-position: center;
    background-image: url("https://img.freepik.com/free-vector/gradient-world-mental-health-day-background_23-2149604961.jpg?w=2000");
}

#health-info-box {
    border: 1.5px solid black;
    border-radius: 5px;
    text-align: center;
    width: 10%;
    margin: 2%;
    background-color: rgb(126, 223, 212);
}

#workdays-photo {
    width: 100%;
    margin-top: 5%;
}

#table-container {
    position: absolute;
    text-align: center;
    width: 30%;
    right: 35px;
    top: 580px;
    margin-right: 2%;
}

th {
    width: 224px;
    border: 1px solid black;
    background-color: #e6e6e6;
}

td {
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #b9b1d4;
}