#health-page-container {
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
}

#health-info-box {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 15%;
}
